<template>
  <div class="form-group" :class="{'has-error': form.errors && form.errors.has(name)}">
    <label :class="{'sr-only': hideLabel}">{{ label }}</label>
    <input type="email"
           class="form-control"
           :class="css"
           :name="name"
           :value="value"
           @input="onInput"
           @blur="onBlur"
           :placeholder="placeholder"
           :required="required"
           :autocomplete="autocomplete"
           autocorrect="off"
           autocapitalize="off"
           spellcheck="off"/>
    <span class="help-block" v-if="help" v-html="help"></span>
    <span class="help-block" v-if="form.errors && form.errors.has(name)"><strong>{{ form.errors.get(name) }}</strong></span>
  </div>
</template>
<script type="text/babel">
  export default {
    name: 'ml-email',
    props: ['label', 'hideLabel', 'form', 'name', 'value', 'placeholder', 'autocomplete', 'help', 'required', 'css'],
    methods: {
      // http://vuejs.org/guide/components.html#Form-Input-Components-using-Custom-Events
      onInput(event) {
        //console.log('onInput()', event.target.value);
        this.$emit('input', event.target.value);
      },
      onFocus(event) {
        this.$emit('focus', event.target.value);
      },
      onBlur(event) {
        this.$emit('blur', event.target.value);
      }
    }
  }
</script>
