<template>
  <div>
    <div class="alert alert-danger" v-if="form.errors && form.errors.hasErrors()">
      <div><strong>Whoops!</strong> There were some problems with your input.</div>
      <ul>
        <li v-for="error in form.errors.flatten()">{{ error }}</li>
      </ul>
    </div>
  </div>
</template>
<script type="text/babel">
  export default {
    name: 'ml-errors',
    props: ['form']
  }
</script>
