<template>
  <div class="form-group" :class="{'has-error': form.errors && form.errors.has(name)}">
    <label :class="{'sr-only': hideLabel}">{{ label }}</label>
    <div class="radio" v-if="initial">
      <label><input type="radio" :name="name" @change="onInput" value="" checked/> {{ initial }}</label>
    </div>
    <div v-for="item in items" class="radio">
      <label><input type="radio" :name="name" :value="itemValue(item)" @change="onInput" :checked="itemSelected(item)"/> {{ item.name }}</label>
    </div>
    <span class="help-block" v-if="help" v-html="help"></span>
    <span class="help-block" v-if="form.errors && form.errors.has(name)"><strong>{{ form.errors.get(name) }}</strong></span>
  </div>
</template>
<script type="text/babel">
  import lodash from 'lodash';
  export default {
    name: 'ml-radios',
    props: ['label', 'hideLabel', 'form', 'name', 'items', 'value', 'initial', 'help'],
    methods: {
      // http://vuejs.org/guide/components.html#Form-Input-Components-using-Custom-Events
      onInput(event) {
        //console.log('onInput()', event.target.value);
        this.$emit('input', event.target.value);
      },
      itemSelected(item) {
        return this.itemValue(item) == this.value;
      },
      itemValue(item) {
        if (!lodash.isObject(item)) {
          return item;
        }
        if (!lodash.isUndefined(item.id)) {
          return item.id;
        }
        if (!lodash.isUndefined(item.value)) {
          return item.value;
        }
        if (!lodash.isUndefined(item.code)) {
          return item.code;
        }
        if (!lodash.isUndefined(item.name)) {
          return item.name;
        }
        return null;
      }
    }
  }
</script>
