<template>
  <div class="form-group" :class="{'has-error': form.errors && form.errors.has(name)}">
    <label :class="{'sr-only': hideLabel}">{{ label }}</label>
    <textarea class="form-control"
              :class="css"
              :name="name"
              :value="value"
              :rows="rows"
              @input="onInput"
              @focus="onFocus"
              @blur="onBlur"
              :placeholder="placeholder"
              :required="required"
              :autocomplete="autocomplete"
              :autocorrect="autocorrect"
              :autocapitalize="autocapitalize"
              :spellcheck="spellcheck">
    </textarea>
    <span class="help-block" v-if="help" v-html="help"></span>
    <span class="help-block" v-if="form.errors && form.errors.has(name)"><strong>{{ form.errors.get(name) }}</strong></span>
  </div>
</template>
<script type="text/babel">
  export default {
    name: 'ml-textarea',
    props: ['label', 'hideLabel', 'rows', 'form', 'name', 'value', 'placeholder', 'help', 'required', 'autocomplete', 'autocorrect', 'autocapitalize', 'spellcheck', 'css'],
    methods: {
      // http://vuejs.org/guide/components.html#Form-Input-Components-using-Custom-Events
      onInput(event) {
        //console.log('onInput()', event.target.value);
        this.$emit('input', event.target.value);
      },
      onFocus(event) {
        this.$emit('focus', event.target.value);
      },
      onBlur(event) {
        this.$emit('blur', event.target.value);
      }
    }
  };
</script>
