<template>
  <div class="form-group" :class="{'has-error': form.errors && form.errors.has(name)}">
    <label :class="{'sr-only': hideLabel}">{{ label }}</label>
    <select
      class="form-control"
      :name="name"
      @change="onInput"
      :required="required">
      <option v-if="initial" value="">{{ initial }}</option>
      <option v-for="item in items" :value="(item.id) ? item.id : item.value" :selected="itemSelected(item)">{{ (item.name) ? item.name : item.text }}</option>
    </select>

    <span class="help-block" v-if="help" v-html="help"></span>
    <span class="help-block" v-if="form.errors && form.errors.has(name)"><strong>{{ form.errors.get(name) }}</strong></span>
  </div>
</template>
<script type="text/babel">
  import _ from 'lodash';
  import timezones from './timezones';
  export default {
    name: 'ml-timezone-select',
    props: ['label', 'hideLabel', 'form', 'name', 'value', 'initial', 'help', 'required'],
    data() {
      return {
        items: timezones
      }
    },
    methods: {
      onInput(event) {
        //console.log('onInput()', event.target.value);
        this.$emit('input', event.target.value);
      },
      itemSelected(item) {
        return this.itemValue(item) == this.value;
      },
      itemValue(item) {
        if (!_.isObject(item)) {
          return item;
        }
        if (!_.isUndefined(item.id)) {
          return item.id;
        }
        if (!_.isUndefined(item.value)) {
          return item.value;
        }
        if (!_.isUndefined(item.code)) {
          return item.code;
        }
        if (!_.isUndefined(item.name)) {
          return item.name;
        }
        return null;
      }
    }
  };
</script>
