<template>
  <div class="App">
    <navbar></navbar>
    <div class="App__Container container-fluid">
      <router-view></router-view>
    </div>
  </div>
</template>
<script type="text/babel">
  export default {
      name: 'app'
  }
</script>
