<template>
  <div>
    <h1>Request More Information</h1>
    <p>We will get back to you within 24 hours.</p>
    <div class="row">
      <div class="col-xs-12">
        <form @submit.prevent="submit" autocomplete="off" :disabled="form.busy">
          <ml-error-alert :form="form"></ml-error-alert>

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <ml-text label="First name"
                       v-model="form.first_name"
                       :form="form"
                       name="first_name"
                       placeholder="Your first name"
                       autocomplete="new-first-name">
              </ml-text>
            </div>

            <div class="col-xs-12 col-sm-6">
              <ml-text label="Last name"
                       v-model="form.last_name"
                       :form="form"
                       name="last_name"
                       placeholder="Your last name"
                       autocomplete="new-last-name">
              </ml-text>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <ml-text label="Email address"
                       v-model="form.email"
                       :form="form"
                       name="email"
                       placeholder="Your email address"
                       autocomplete="new-email">
              </ml-text>
            </div>

            <div class="col-xs-12 col-sm-6">
              <ml-text label="Company"
                       v-model="form.company"
                       :form="form"
                       name="company"
                       placeholder="Your company name"
                       autocomplete="new-company-name">
              </ml-text>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <ml-country-select label="Country"
                                 v-model="form.country"
                                 :form="form"
                                 name="country">
              </ml-country-select>

            </div>

            <div class="col-xs-12 col-sm-6">
              <ml-timezone-select label="Time zone"
                                  v-model="form.timezone"
                                  :form="form"
                                  name="timezone">
              </ml-timezone-select>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <ml-textarea label="How can we help?"
                           v-model="form.question"
                           :rows="4"
                           :form="form"
                           name="question">
              </ml-textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <ml-signature label="Your Signature"
                            v-model="form.signature"
                            :form="form"
                            name="signature">
              </ml-signature>
            </div>
            <div class="col-xs-12 col-sm-2">
              <div class="form-group Form__Actions">
                <button type="submit" class="btn btn-primary btn-lg" :disabled="form.busy || $v.$invalid">
              <span v-if="form.busy">
                <i class="fa fa-fw fa-btn fa-spin fa-spinner"></i>Updating
              </span>
                  <span v-else>
                Submit
              </span>
                </button>
                <button type="reset" @click.prevent="resetForm" class="btn btn-default btn-lg">Reset</button>
              </div>
            </div>
          </div>

        </form>
        <!--<pre>{{ $v }} </pre>-->
        <!--<pre>{{ form }}</pre>-->
      </div>
    </div>
  </div>
</template>
<script type="text/babel">
  import mobilelockerService from 'mobilelocker-tracking';
  import _ from 'lodash';
  import toastr from 'toastr';
  import countries from '../forms/countries';

  // https://github.com/monterail/vuelidate
  import {required, minLength} from 'vuelidate/lib/validators'

  export default {
    data() {
      return {
        fields: {
          first_name: null,
          last_name: null,
          email: null,
          company: null,
          country: 'US',
          timezone: 'America/New_York',
          question: null,
          signature: null,
          signatureJSON: null
        },
        form: null,
        countries: countries
      }
    },
    validations: { // https://monterail.github.io/vuelidate/#sub-basic-usage
      form: {
        first_name: {
          required
        },
        last_name: {
          required
        },
        email: {
          required
        },
        company: {
          required
        },
        country: {
          required
        },
        timezone: {
          required
        },
        signatureJSON: {
          required
        }
      }
    },
    created() {
      this.form = new SparkForm(this.fields);
    },
    methods: {
      resetForm() {
        this.form = new SparkForm(_.omit(this.fields, []));
        this.$root.$emit('clear-signature');
      },
      submit() {
        this.form.startProcessing();
        let form = _.omit(this.form, ['busy', 'errors', 'successful']);
        console.log('Submitting form data: ', form);
        mobilelockerService.submitForm('demo-form', form)
          .then(response => {
            this.form.finishProcessing();
            toastr.success('Thank you');
            this.resetForm();
          })
          .catch(err => {
            this.form.setErrors(err.data);
            toastr.error('There was a problem.');
          })
      }
    }
  }
</script>
