<template>
  <div class="container-fluid">
    <p></p>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading"><h2>Open PDFs</h2></div>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item">
                <a href="#" @click.prevent="openPDF('pdfs/employee-handbook.pdf', 'Employee Handbook')">Employee Handbook</a>
              </li>
              <li class="list-group-item">
                <a href="#" @click.prevent="openPDF('pdfs/employee-onboarding.pdf', 'Employee Onboarding')">Employee Onboarding</a>
              </li>
              <li class="list-group-item">
                <a href="#" @click.prevent="openPDF('pdfs/google-seo-starter-guide.pdf', 'Google SEO Starter Guide')">Google SEO Starter Guide</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading"><h2>Fill in a Form</h2></div>
          <div class="panel-body">
            <form @submit.prevent="submitForm" autocorrect="off" autocapitalize="off" spellcheck="false">
              <div class="form-group">
                <label class="sr-only">Your name</label>
                <input type="text" v-model="form.name" placeholder="Your name" class="form-control" required/>
              </div>

              <div class="form-group">
                <label class="sr-only">Your email</label>
                <input type="email" v-model="form.email" placeholder="Your email address" class="form-control" required/>
              </div>

              <div class="form-group">
                <label class="sr-only">Your company</label>
                <input type="text" v-model="form.company" placeholder="Your company" class="form-control" required/>
              </div>

              <ml-country-select label="Country"
                                 :hide-label="true"
                                 v-model="form.country"
                                 :form="form"
                                 name="country">
              </ml-country-select>

              <div class="form-group">
                <ml-signature :form="form"></ml-signature>
              </div>

              <div class="form-actions">
                <button type="submit" class="btn btn-block btn-primary">
                    <span v-if="form.busy">
                      <i class="fa fa-fw fa-btn fa-spin fa-spinner"></i>Saving
                    </span>
                  <span v-else>Submit</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading"><h2>About Me</h2></div>
          <div class="panel-body">
            <p>
              <button type="button" @click.prevent="getUser" class="btn btn-primary">My Profile</button>
            </p>
            <dl v-if="user">
              <dt>Name</dt>
              <dd>{{ user.name }}</dd>

              <dt>Email</dt>
              <dd>{{ user.email }}</dd>

              <dt>Country</dt>
              <dd>{{ user.country }}</dd>

              <dt>Time zone</dt>
              <dd>{{ user.timezone }}</dd>
            </dl>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading"><h2>My Presentations</h2></div>
          <div class="panel-body">
            <p>
              <button type="button" @click.prevent="getPresentations" class="btn btn-primary">My presentations</button>
            </p>
            <ul v-if="presentations.length" class="list-group">
              <li class="list-group-item" v-for="p in presentations">
                <span v-if="p.id == presentation.id" class="badge">Current</span>
                <span class="badge" v-if="p.id != presentation.id && p.installed">Installed</span>
                {{ p.name }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading"><h2>Events in this session</h2></div>
        <div class="panel-body">
          <p>
            <button type="button" @click.prevent="getSessionEvents" class="btn btn-primary">Get session events</button>
          </p>
          <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
              <thead>
              <tr>
                <th>Date</th>
                <th>Category</th>
                <th>Action</th>
                <th>Path</th>
                <th>Status</th>
                <th>Data</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="event in events">
                <td>{{ eventAt(event).format('YYYY-MM-DD h:mm:ss a') }}</td>
                <td>{{ event.category }}</td>
                <td>{{ event.action }}</td>
                <td>{{ event.uri }}</td>
                <td>
                  <span class="label" :class="{'label-success': event.status_code == 200, 'label-error': event.status_code > 300}">{{ event.status_code }}</span>
                </td>
                <td>
                  <pre v-if="event.data && event.data != 'null'">{{ event.data }}</pre>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading"><h2>Other Features</h2></div>
            <div class="panel-body">
              <button type="button" @click.prevent="showMenu" class="btn btn-default btn-block"><i class="fa fa-fw fa-btn fa-list"></i>Show Menu</button>
              <button type="button" @click.prevent="showComments" class="btn btn-default btn-block"><i class="fa fa-fw fa-btn fa-comments-o"></i>Show Comments</button>
              <button type="button" @click.prevent="reloadPresentation" class="btn btn-default btn-block"><i class="fa fa-fw fa-btn fa-refresh"></i>Reload HTML</button>
              <button type="button" onclick="alert('This is an alert.')" class="btn btn-default btn-block"><i class="fa fa-fw fa-btn fa-bullhorn"></i>JS Alert</button>
              <button type="button" onclick="confirm('This is a confirmation prompt.  Are you sure?')" class="btn btn-default btn-block"><i class="fa fa-fw fa-btn fa-check"></i>JS Confirm</button>
              <button type="button" @click.prevent="openScanner" class="btn btn-default btn-block"><i class="fa fa-fw fa-btn fa-qrcode"></i>Scan a QR Code or Barcode</button>
              <button type="button" @click.prevent="composeEmail" class="btn btn-default btn-block"><i class="fa fa-fw fa-btn fa-envelope-o"></i>Compose an email</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script type="text/babel">
  import mobilelocker from 'mobilelocker-tracking';
  import _ from 'lodash';
  import toastr from 'toastr';
  import axios from 'axios';
  import moment from 'moment';
  export default {
    name: 'home',
    mixins: [
      require('../mixins/filters')
    ],
    data() {
      return {
        user: null,
        presentation: null,
        events: [],
        presentations: [],
        form: new SparkForm({
          name: null,
          email: null,
          company: null,
          country: 'US',
          signature: null,
          signatureJSON: null
        })
      }
    },
    mounted() {
      this.getPresentation();
    },
    methods: {
      eventAt(event) {
        return moment.unix(event.event_at)
      },
      getSessionEvents() {
        // https://mobilelocker.readme.io/reference#get-logged-events
        if (mobilelocker.isMobileLocker()) {
          mobilelocker.getSessionEvents()
            .then(events => {
              this.events = events;
            });
        }
      },
      getPresentation() {
        // https://mobilelocker.readme.io/reference#get-the-current-presentation
        mobilelocker.logEvent('API', 'call', 'getPresentation()');
        mobilelocker.getPresentation()
          .then(presentation => {
            this.presentation = presentation;
            this.getSessionEvents();
          });
      },
      getUser() {
        // https://mobilelocker.readme.io/reference#get-the-current-user
        mobilelocker.logEvent('API', 'call', 'getUser()');
        mobilelocker.getUser()
          .then(user => {
            this.user = user;
            this.getSessionEvents();
          })
      },
      getPresentations() {
        // https://mobilelocker.readme.io/reference#get-all-presentations
        mobilelocker.logEvent('API', 'call', 'getPresentations()');
        mobilelocker.getPresentations()
          .then(presentations => {
            this.presentations = this.orderBy(presentations, 'name');
            this.getSessionEvents();
          })
      },
      openPDF(path, title) {
        // https://mobilelocker.readme.io/reference#open-a-pdf
        mobilelocker.openPDF(path, title);
        this.getSessionEvents();
      },
      openScanner() {
        mobilelocker.openScanner();
      },
      composeEmail() {
        let recipient = 'mark@mobilelocker.com';
        let subject = 'Test email from kazaamax-starter';
        let body = '<p>This email should have the Employee Handbook PDF as an attachment.</p>';
        let isHTML = true;
        let attachment = 'pdfs/employee-handbook.pdf';
        mobilelocker.composeEmail(recipient, subject, body, isHTML, attachment);
      },
      reloadPresentation() {
        mobilelocker.logEvent('Presentation', 'Reload', location.pathname);
        mobilelocker.reloadPresentation();
      },
      showMenu() {
        mobilelocker.showMenu();
        mobilelocker.logEvent('Menu', 'Show', null);
        this.getSessionEvents();
      },
      showComments() {
        mobilelocker.showComments();
        mobilelocker.logEvent('Comments', 'Show', null);
        this.getSessionEvents();
      },
      submitForm() {
        // https://mobilelocker.readme.io/reference#capture-a-form
        const form = _.omit(this.form, ['busy', 'errors', 'successful']);
        this.form.startProcessing();
        mobilelocker.submitForm('signup-form', form)
          .then(response => {
            this.form.finishProcessing();
            this.getSessionEvents();
            if (mobilelocker.isMobileLocker()) {
              toastr.success('Thanks for signing up.  Check your email for a copy of the data you submitted');
            } else {
              toastr.success('Thanks for signing up.  If you were running this in the Mobile Locker app, you would receive an email with a copy of the data you just submitted.');
            }
          })
          .catch(err => {
            let message = 'That didn\'t work properly.  Check your code for bugs.';
            if (err.response) {
              this.form.setErrors(err.response.data);
              message = `${message} Error: ${err.response.data}`;
            } else if (err.request) {
              // The request was made but no response was received
              // `error.request` is an instance of XMLHttpRequest in the browser
              message = `Request was made but no response was received`;
              console.error(err.request);
            } else {
              this.form.busy = false;
              message = err.message;
            }
            toastr.error(message);
          })
      }
    }
  }
</script>
