<template>
  <div role="dialog" :class="{'modal':true, 'fade':effect === 'fade', 'zoom':effect === 'zoom'}">
    <div :class="{'modal-dialog':true,'modal-lg':large,'modal-sm':small}" role="document" :style="{width: optionalWidth}">
      <div class="modal-content">
        <slot name="modal-header">
          <div class="modal-header">
            <button type="button" class="close" @click="close"><span>&times;</span></button>
            <h2 class="modal-title m-b-sm m-t-sm">
              <slot name="title">
                {{title}}
              </slot>
            </h2>
          </div>
        </slot>
        <slot name="modal-body"></slot>
        <slot name="modal-footer">
          <div class="modal-footer">
            <button type="button" class="btn btn-default" @click="close">{{ cancelText }}</button>
            <button type="button" class="btn btn-primary" @click="callback">{{ okText }}</button>
          </div>
        </slot>
      </div>
    </div>
  </div>
</template>

<script type="text/babel">
  const $ = require('jquery');

  function getScrollBarWidth() {
    if (document.documentElement.scrollHeight <= document.documentElement.clientHeight) {
      return 0;
    }
    let inner = document.createElement('p');
    inner.style.width = '100%';
    inner.style.height = '200px';

    let outer = document.createElement('div');
    outer.style.position = 'absolute';
    outer.style.top = '0px';
    outer.style.left = '0px';
    outer.style.visibility = 'hidden';
    outer.style.width = '200px';
    outer.style.height = '150px';
    outer.style.overflow = 'hidden';
    outer.appendChild(inner);

    document.body.appendChild(outer);
    let w1 = inner.offsetWidth;
    outer.style.overflow = 'scroll';
    let w2 = inner.offsetWidth;
    if (w1 === w2) w2 = outer.clientWidth;

    document.body.removeChild(outer);

    return (w1 - w2);
  }

  export default {
    name: 'modal',
    props: {
      okText: {
        type: String,
        default: 'Save changes'
      },
      cancelText: {
        type: String,
        default: 'Close'
      },
      title: {
        type: String,
        default: ''
      },
      show: {
        required: true,
        type: Boolean
      },
      width: {
        default: null
      },
      callback: {
        type: Function,
        default () {
        }
      },
      effect: {
        type: String,
        default: null
      },
      backdrop: {
        type: Boolean,
        default: true
      },
      large: {
        type: Boolean,
        default: false
      },
      small: {
        type: Boolean,
        default: false
      }
    },
    computed: {
      optionalWidth () {
        if (this.width === null) {
          return null
        } else if (Number.isInteger(this.width)) {
          return this.width + 'px'
        }
        return this.width
      }
    },
    watch: {
      show(val) {
        this.toggle(val);
      }
    },
    methods: {
      toggle(val) {
        console.log('modal.toggle ', val);
        const el = this.$el;
        const body = document.body;
        const scrollBarWidth = getScrollBarWidth();
        if (val) {
          $(el).find('.modal-content').focus();
          el.style.display = 'block';
          setTimeout(() => $(el).addClass('in'), 0);
          $(body).addClass('modal-open');
          if (scrollBarWidth !== 0) {
            body.style.paddingRight = scrollBarWidth + 'px'
          }
          if (this.backdrop) {
            $(el).on('click', (e) => {
              if (e.target === el) {
                this.close();
              }
            })
          }
        } else {
          this.$emit('closing-modal');
          $(el).on('transitionend', () => {
            $(el).off('click transitionend');
            el.style.display = 'none';
            if (scrollBarWidth !== 0) {
              delete body.style.paddingRight;
            }
          }).removeClass('in');
          $(body).removeClass('modal-open');
          this.$emit('close-modal');
        }
      },
      close () {
        this.toggle(false);
      }
    }
  }
</script>
<style>
  .modal {
    transition: all 0.3s ease;
  }

  .modal.in {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal.zoom .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 300px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  .modal.zoom.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -300px, 0);
    transform: translate3d(0, -300px, 0);
    opacity: 1;
  }
</style>
