<template>
  <nav class="navbar navbar-default navbar-fixed-top Navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <router-link :exact=true :to="{name: 'home'}" class="navbar-brand Navbar__App">
          <img src="images/navbar_app_logo.png" class="Navbar__App-Logo"/>
        </router-link>
      </div>
      <div class="collapse navbar-collapse" id="nav">
        <ul class="nav navbar-nav navbar-left">
          <router-link tag="li" :exact=true :to="{name: 'home'}"><a>Examples</a></router-link>
          <li>
            <a href="#show-comments" @click.prevent="showComments()"><i class="fa fa-fw fa-btn fa-comments"></i>Comments</a>
          </li>
          <li>
            <a href="mobilelocker/api?method=close-presentation">Exit</a>
          </li>
          <!--<router-link tag="li" :to="{name: 'demo-form'}"><a>Request Info</a></router-link>-->
        </ul>
        <div class="pull-right hidden-xs">
          <img src="images/navbar_company_logo.png" class="Navbar__Company-Logo"/>
        </div>
      </div>
    </div>
  </nav>
</template>
<script type="text/babel">
  import mobilelocker from 'mobilelocker-tracking';
  export default {
    name: 'navbar',
    methods: {
      showComments() {
        mobilelocker.showComments();
      }
    }
  }
</script>
