<template>
  <div>

  </div>
</template>
<script type="text/babel">
  import {mapGetters, mapActions} from 'vuex';
  import dataService from '../services/dataService';
  import mobilelockerService from 'mobilelocker-tracking';
  export default {
    name: 'page',
    mixins: [require('../mixins/filters')]
  }
</script>
