$icon-font-path: '../fonts';
$fa-font-path: '../fonts';
$font-size-base: 14px;
$font-size-h1: floor(($font-size-base * 2)); // ~28px
$font-size-h2: floor(($font-size-base * 1.7)); // ~23px
$font-size-h3: ceil(($font-size-base * 1.25)); // ~18px
$font-size-h4: ceil(($font-size-base * 1.1)); // ~16px
$font-size-h5: $font-size-base;
$font-size-h6: ceil(($font-size-base * 0.85)); // ~12px
$app-primary: #00334d;
$app-dark-purple: darken($app-primary, 10%);
$brand-primary: $app-primary;
$navbar-default-color: $app-primary;
$navbar-default-brand-color: $navbar-default-color;
$navbar-default-bg: white;
$navbar-default-link-color: $app-primary;
$navbar-default-link-hover-color: white;
$navbar-default-link-hover-bg: $app-primary;
$navbar-default-link-active-color: white;
$navbar-default-link-active-bg: $app-primary;

@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'node_modules/font-awesome/scss/font-awesome';
@import 'node_modules/video.js/src/css/video-js';

#toast-container > div {
  opacity: 1.0;
}

#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
  width: 99%;
}

html, body {
  //height: 100%;
  //padding-top: 25px;
}
h1, h2, h3, h4, h5, h6 {
  color: $app-primary;
}
.App {
}
.App__Container {
  padding-top: 50px;
}
.clear-left {
  clear: left;
}
.fa-btn {
  margin-right: 5px;
}

.video-container {
  width: 100%;
}
video {
  //width: 100% !important;
  //height: auto !important;
}


@import './components/forms';
@import './components/navbar';
@import './components/panels';
